In [1]:
import pandas as pd
import numpy as np

1. Скільки змінних у наборі даних flats?

3. Чи всі з них дійсно є містами?

In [3]:
path_file = 'flats.csv'
df_data = pd.read_csv(path_file)

df_data.head

<bound method NDFrame.head of             Місто  Кімнат Загальна_площа       Ціна
0         Вінниця       3            120  1875000.0
1         Вінниця       3             66   975000.0
2         Вінниця       2             66  1375000.0
3         Вінниця       2             44   637500.0
4         Вінниця       3             63   835000.0
..            ...     ...            ...        ...
834  Хмельницький       1             52   330000.0
835  Хмельницький       1             41   325000.0
836  Хмельницький       1             47   375000.0
837  Хмельницький       2             53   387500.0
838  Хмельницький       2             60   522500.0

[839 rows x 4 columns]>

1. Скільки змінних у наборі даних flats?

In [9]:
df_data.columns

Index(['Місто', 'Кімнат', 'Загальна_площа', 'Ціна'], dtype='object')

2. Яка кількість міст у наборі даних flats? Підказка: мається на увазі кількість унікальних значень до очищення даних.

In [ ]:
unique_city = df_data['Місто'].unique()
unique_city

array(['Вінниця', 'Дніпропетровськ', 'Запоріжжя', 'Івано-Франківськ',
       'Києво-Святошинський', 'Київ', 'Львів', 'Миколаїв', 'Одеса',
       'Рівне', 'Тернопіль', 'Харків', 'Хмельницький'], dtype=object)

In [16]:
print(len(unique_city))

13

In [5]:
df_data.shape

(839, 4)

4. Яка кількість трикімнатних квартир продається в місті Одеса?

In [6]:
df_odesa = df_data[(df_data["Місто"] == 'Одеса') & (df_data["Кімнат"] == 3)]
df_odesa

     Місто  Кімнат Загальна_площа       Ціна
590  Одеса       3           68,2  1500000.0
591  Одеса       3            128  5750000.0
603  Одеса       3          130,6  2398750.0
607  Одеса       3            143  2875000.0
608  Одеса       3          125,5    47500.0
611  Одеса       3          139,1    43750.0
612  Одеса       3          123,7    41250.0
613  Одеса       3            124    52500.0
617  Одеса       3          123,7    41250.0
618  Одеса       3             78  1612500.0
624  Одеса       3             96  1460750.0

In [17]:
print(len(df_odesa))

11

5. Яка медіана площі однокімнатної квартири в місті Львів? Підказка: використовуйте функцію median.

In [ ]:
df_data['Загальна_площа'] = df_data['Загальна_площа'].str.replace(',', '.').astype(float)

df_lviv_1room = df_data[(df_data["Місто"] == 'Львів') & (df_data["Кімнат"] == 1)]

median_area = df_lviv_1room['Загальна_площа'].median()

print(f"Медіана площі однокімнатних квартир у Львові: {median_area:.2f} м²")

Медіана площі однокімнатних квартир у Львові: 43.00 м²

Знайдіть кількість вимірів датафрейму flats
Відобразіть перші шість рядків, перші п'ятнадцять рядків, останні шість рядків
Відобразіть імена датафрейму
Побудуйте коробчату діаграму для візулізації розподілу цін в залежності від кількості кімнат
Побудуйте графік розсіювання, який відображатиме залежність ціни від загальної площі
Побудуйте гістограму для оцінки розподілу ціни квартир